/* Below is the body styles */


@mixin button-form{
    position: relative;
    text-decoration: underline;
    width: 50%;
    height: 27.5px;
    border-radius: 15px;
    border: $border;
}

html {
    background-image: url("../image_uploads/wallpaper.jpg");
    background-position:top;
    background-size: 110%;
}
body {
    position: relative;
    background-color: $lightblue;
    border-radius: 20px;
    width: 80%;
    left: 10%;
    background-color: $background-colour;
    border: 1px solid $black;
    padding: 0.5em 2em;
    margin: 1% 0%;
    min-height: 80%;
    overflow-x: hidden;

    section {

        width: 100%;
        padding-bottom: 1.5em;
        .container{
            position: absolute;
            width: 100%;
        }
    }

    ul {
        margin: 0 0 1em 0;
        padding: 0 0 0 2.5em;
        text-decoration: none;
    }
    li {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    a {
        color: $blue;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        color: $lightgreen;
    }
}
table {
    position: relative;
    border: 1px solid $black;
    border-collapse: collapse;
    width: 80%;

    td,
    th {
        border: 1px dashed $black;
        padding: 0.2em 0.5em 0.2em 0.5em;
        font-size: 115%;
        text-align: center;
        
    }
    td{
        font-size: 120%;
    }
    td:first-child {
        background-color: $border;
    }
    td:nth-child(2) {
        text-decoration: underline;
        font-size: 130%;
        color: $red;
    }
}

form {
    margin: 0;
}
br {
    clear: left;
}
.last_paragraph {
    margin-bottom: 2em;
}
.margin_top_increase {
    margin-top: 1em;
}

#add_record_form {
    margin: 0.5em 0 1em;
label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    float: left;
}
input {
    width: 15em;
}
}

#buy_button{
    @include button-form;
    background-color: $buy_button;
}
#buy_button:hover{
    background-color: $buy_button_hover;
}
#edit_button{
    @include button-form;
    background-color: $edit_button;
}
#edit_button:hover{
    background-color: $edit_button_hover
}
#delete_button{
    @include button-form;
    background-color: $delete_button;
}
#delete_button:hover{
    background-color: $delete_button_hover;
}

.topnav{
    font-size: 100%;
    top: 55px;
    position: absolute;
    right: 70px;
    a{
        padding-right: 10px;
    }
}

#name{
    position: absolute;
    top: 0%;
    right: 2.5%;
    color: $orange;
}
