/*Below is the footer styles */
footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid $black;
    background-color: $background-colour;
    p {
        text-align: right;
        font-size: 80%;
        margin: 1em 0;   
    }
    h4{
        margin: 1px;
        position: relative;
        a img{
            position: relative;
            top: 7px;
            padding-right: 10px;
        }
    }
    #contact{
        position: relative;
        text-align:right;
        img{
            padding-right: 10px;
            position: relative;
            bottom: -7px;
        }
    }
    
}
