/*Below is the header styles */
header {
    margin: 0;
    width: 100%;
    border-bottom: 2px solid $black;
    margin-right: 0px;
    h1{
        top: 15px;
        position: relative;
        left: 100px;
        margin-bottom: 2%;
        padding: .5em 0;
        color: $black; 
        max-width: 300px;
        margin-right: 0px;
    }
    #header_img{
        position: absolute;
        top: -0.5%;
        left: 2%;
        width: 100px;
        height: 100px;   
}

nav{
    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0; 
        li {
            padding-bottom: 0.5em;  
        }
    }
}

a{
    max-width: 300px;
}
}