/*Below is the header styles */
header {
    margin: 0;
    border-bottom: 2px solid black;
    h1{
        top: 15px;
        position: relative;
        left: 100px;
        margin-bottom: 30px;
        padding: .5em 0;
        color: black; 
    }
    #header_img{
        position: absolute;
        top: 5px;
        left: 45px;
        width: 70px;
        height: 80px;   
}

nav{
    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0; 
        li {
            padding-bottom: 0.5em;  
        }
    }
}

}