/*Below is the sidebar styles */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
aside {
  float: left;
  width: 15%;
}

/*Below is the fonts styles */
body {
  font-family: "Inconsolata", monospace;
}

body h1 {
  font-size: 150%;
  margin: 0;
  padding: .5em 0 .25em;
  color: #333;
}

body h2 {
  font-size: 120%;
  margin: 0;
  padding: .25em 0 .5em;
  color: #333;
}

/*Below is the footer styles */
footer {
  clear: both;
  margin-top: 1em;
  border-top: 2px solid #111;
  background-color: #eee;
}

footer p {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
}

footer h4 {
  margin: 1px;
  position: relative;
}

footer h4 a img {
  position: relative;
  top: 7px;
  padding-right: .5%;
}

footer #contact {
  position: relative;
  text-align: right;
}

footer #contact img {
  padding-right: .5%;
  position: relative;
  bottom: 0%;
}

/*Below is the header styles */
header {
  margin: 0;
  width: 100%;
  border-bottom: 2px solid #111;
  margin-right: 0px;
}

header h1 {
  top: 15px;
  position: relative;
  left: 100px;
  margin-bottom: 2%;
  padding: .5em 0;
  color: #111;
  max-width: 300px;
  margin-right: 0px;
}

header #header_img {
  position: absolute;
  top: -0.5%;
  left: 2%;
  width: 100px;
  height: 100px;
}

header nav ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

header nav ul li {
  padding-bottom: 0.5em;
}

header a {
  max-width: 300px;
}

/* Below is the body styles */
html {
  background-image: url("../image_uploads/wallpaper.jpg");
  background-position: top;
  background-size: 110%;
}

body {
  position: relative;
  background-color: #98C2FF;
  border-radius: 20px;
  width: 80%;
  left: 10%;
  background-color: #eee;
  border: 1px solid #111;
  padding: 0.5em 2em;
  margin: 1% 0%;
  min-height: 80%;
  overflow-x: hidden;
}

body section {
  width: 100%;
  padding-bottom: 1.5em;
}

body section .container {
  position: absolute;
  width: 100%;
}

body ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 2.5em;
  text-decoration: none;
}

body li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body a {
  color: #6884cc;
  font-weight: bold;
  text-decoration: none;
}

body a:hover {
  color: #217c21;
}

table {
  position: relative;
  border: 1px solid #111;
  border-collapse: collapse;
  width: 80%;
}

table td,
table th {
  border: 1px dashed #111;
  padding: 0.2em 0.5em 0.2em 0.5em;
  font-size: 115%;
  text-align: center;
}

table td {
  font-size: 120%;
}

table td:first-child {
  background-color: white;
}

table td:nth-child(2) {
  text-decoration: underline;
  font-size: 130%;
  color: red;
}

form {
  margin: 0;
}

br {
  clear: left;
}

.last_paragraph {
  margin-bottom: 2em;
}

.margin_top_increase {
  margin-top: 1em;
}

#add_record_form {
  margin: 0.5em 0 1em;
}

#add_record_form label {
  width: 6em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  float: left;
}

#add_record_form input {
  width: 15em;
}

#buy_button {
  position: relative;
  text-decoration: underline;
  width: 50%;
  height: 27.5px;
  border-radius: 15px;
  border: white;
  background-color: #60f14a;
}

#buy_button:hover {
  background-color: #389c28;
}

#edit_button {
  position: relative;
  text-decoration: underline;
  width: 50%;
  height: 27.5px;
  border-radius: 15px;
  border: white;
  background-color: #9180cf;
}

#edit_button:hover {
  background-color: #695aa1;
}

#delete_button {
  position: relative;
  text-decoration: underline;
  width: 50%;
  height: 27.5px;
  border-radius: 15px;
  border: white;
  background-color: #f14a4a;
}

#delete_button:hover {
  background-color: #bb3737;
}

.topnav {
  font-size: 100%;
  top: 55px;
  position: absolute;
  right: 70px;
}

.topnav a {
  padding-right: 10px;
}

#name {
  position: absolute;
  top: 0%;
  right: 2.5%;
  color: #f77023;
}
/*# sourceMappingURL=main.css.map */