/*Below is the header styles */
header {
    margin: 0;
    border-bottom: 2px solid black;
    h1{
        margin: 0;
        padding: .5em 0;
        color: black; 
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;   
    }
    
    a{
        position: absolute;
        right: 0px;
    }
}

nav{
    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0; 
        li {
            padding-bottom: 0.5em;  
        }
    }
}

